@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }


    .home {
        .slider {
            &__wrapper {
                width: 300px;
            }

            &__item {
                img {
                    height: 300px;
                }

                &-active>img {
                    height: 400px;
                }

            }
        }
    }


    .moduls {
        &__item {
            width: 275px;
        }

        &__text {
            font-size: 16px;

            br {
                display: none;
            }

            &-black {
                font-size: 16px;

                br {
                    display: none;
                }
            }
        }
    }

    .industries {
        &__slider {
            max-width: 800px;
            img {
                width: 100%;
            }

        }
    }

    
    
}




@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }


    .header {
        height: 0;
        &__wrapper {
            display: none;
        }
    }


    .home {
        .slider {
            &__wrapper {
                width: 250px;
            }

            &__item {
                img {
                    height: 250px;
                }

                &-active>img {
                    height: 350px;
                }

            }
        }
    }


    .moduls {
        &__item {
            width: 220px;
        }
    }


    .industries {
        &__tabs {
            font-size: 12px;
        }
    }

    .advant {
        &__text {
            font-size: 16px;
        }
    }

    .commit {
        &__title {
            font-size: 20px;
        }
        &__subtitle {
            font-size: 16px;
            br {
                display: none;
            }
        }
    }
    .advant {
        padding: 80px 0;

        &__item {
            max-height: 224px;
        }
    }
    
}




@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }


    .home {
        .menu {
            nav {
                z-index: 200;
                ul {
                    display: grid;
                    grid-template-rows: repeat(5, 100px);
                    justify-items: center;
                    align-items:center;
                    position: absolute;
                    left: 50px;
                    top: 50px;
                    li {
                        margin-right: 0;
                    }
                }
            }
        &__overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.8);
            z-index: 200;
            transition: 1s all;

        }

        &__close {
            display: block;
            font-size: 40px;
            color: #fff;
            position: absolute;
            top: 0;
            right: 5%;
            cursor: pointer;
        }
        }
        .hamburger {
            display: flex;
        }
        .slider {
            &__btn {
                left: 40%;
            }
            &__wrapper {
                width: 200px;
            }

            &__item {
                img {
                    height: 200px;
                }

                &-active>img {
                    height: 300px;
                }

            }
        }
    }


    .moduls {
        &__item {
            width: 170px;
            
        }
        &__img {
            width: 150px;
            margin: 0 auto;
            
            img {
                display: block;
                width: 100%;
            }
        }
        &__text {
            font-size: 12px;
            br {
                display: none;
            }
            &-black {
                font-size: 12px;
                br {
                    display: none;
                }
            }
        }
    }


    .industries {
        &__tabs {
            display: none;
        }
        &__subtitle {
            display: block;
        }
    }

    .advant {
        &__wrapper {
            grid-template-columns: 1fr;
        }
    }
    .commit {
        &__wrapper {
            grid-template-columns: 1fr;
        }

    }
    .advant {
        padding: 80px 0;

        &__item {
            max-height: 299px;
        }
    }
    .footer {
        &__item {
            &:nth-child(1) {
                margin: 0 auto;
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                display: none;
            }
            &:nth-child(4) {
                display: none;
            }
        }
    }
}




@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }


    .slider {
        display: none;
    }
    .home {
        .menu {
                &__overlay {
                    width: 80%;
                }
            }
    }

    
    .moduls {
        &__wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__item {
            margin-top: 25px;
            width: 300px;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
        &__text {
            font-size: 14px;

            &-black {
                font-size: 14px;
            }
        }

    }

    .commit {
        &__wrapper {
        grid-auto-rows: 420px;

        }
        &__itemOne {
            padding-right: 51px;
        }
        &__itemTwo {
            padding-left: 50px;
        }
        .title {
        top: 0;
    }
    }

    .modal {
        width: 270px;
        &__btn {
            width: 161px;
            font-size: 12px;
            padding-top: 16px;
            padding-bottom: 16px;
        }
        &__form {
            margin-top: 15px;

            input {
                padding: 10px 0 10px 20px;
                margin-bottom: 30px;
            }
        }

        &__title {
            font-size: 16px;
        }

        &__subtitle {
            font-size: 12px;
        }

        &__close {
            font-size: 32px;
        }
    }
    #poppup {
        height: 400px;
    }
}

@media (max-width: 400px) {
    
    .industries {
        .title {
            br {
                display: none;
            }
        }

        &__next,
        &__prev {
            display: none;
        }

        &__wrapper {
            flex-direction: column;
        }

        &__slider {
            margin-top: 10px;
        }
    }
}